:root {
    --color-dark: #1F2937;
    --color-neutral: #E5E7EB;
    --color-light: #F9FAF8;
    --color-btn: #3882F6;
    --color-text: #1F2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    height: 7em;
    padding: 1em;
    background-color: var(--color-dark);
    align-items: center;
}

.header-icon {
    width: 7em;
    height: 5.5em;
}

nav {
    width: 20%;
    margin-right: 10em;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--color-neutral);
    font-size: 18px;
}

#home {
    display: flex;
    background-color: var(--color-dark);
    padding: 7em 15em;
}

.home-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    gap: 1em;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--color-light);
}

p {
    font-size: 18px;
    color: var(--color-neutral);
}

button {
    background-color: var(--color-btn);
    color: var(--color-light);
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    border: none;
}

.home-image {
    width: 50em;
    border-radius: 1em;
    margin: 0 5em 3em;
}

/* Adding and optimizing font colors and styles */